
:root {
    --primary: #f8f7ff;
    --secondary: #b8b8ff;
    --ternary: #9381ff;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    transition: all 0.1s ease;
}

.body {
    background-color: var(--secondary);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* background-color: #caf0f8; */
    background-color: var(--secondary);
    /* border-radius: 30px; */
    width: 100%;
    min-height: 50%;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.upper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.upper h1{
    text-align: center;
    color: var(--primary);
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input {
    padding: 5px;
    border-radius: 30px;
    border: none;
}
#btn{
    background-color: white;
    cursor: pointer;
    width: 5rem;
}

#refresh{
    display: none;
    background-color: white;
    cursor: pointer;
    width: 5rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 30px;
    border: none;
}
#refresh:hover, #btn:hover{
    background-color:var(--primary) ;
}
#imagename{
    padding-left: 10px;
    padding-right: 10px;
}

.lower {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.card {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 400px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap:10px;
    /* align-items: center; */
    background-color: var(--primary);
    border-radius: 30px;
    overflow: hidden;
}

.card .img {
    width: 100%;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease;
}
.img img:hover{
    transform: scale(1.1);
}
.card .desc {
    align-self: flex-start;
    width: 100%;
    cursor: pointer;
}

.user {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.userDp {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
}
span{
    color: var(--ternary);
}
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--ternary);
    animation:
      l20-1 0.8s infinite linear alternate,
      l20-2 1.6s infinite linear;
  }
  @keyframes l20-1{
     0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
     12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
     25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
     50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
     100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
  }
  @keyframes l20-2{ 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
  }

@media (max-width:460px) {
    .search {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
}